* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  color: #FFFFFF;
  font-family: sans-serif;
  background-attachment: fixed;
  background: #7f469a;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* NAVBAR - Logo e Botão Login/Logout */
nav {
  background: white;
  box-shadow: 0px -1px 8px 0px #444;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > button,
.link-voltar > a,
.link-sair > a, #botao,
li button {
  font-size: 12px;
  font-weight: 700;
  background:  #ff6a36;
  color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0px #444;
  padding: 10px 20px;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}
nav > button:hover,
.link-sair > a:hover, #botao:hover {
  background: #fff;
  color: #ff6a36;
  cursor: pointer;
}
.link-voltar {
  background: #7f479a;
  padding: 20px;
 }
.link-voltar > a,
.link-sair > a {
  text-decoration: none;
}
.link-voltar > a:hover {
  background-color: #fff;
  color: #ff6a36;
  cursor: pointer;
}
main {
  color: #fff;
  padding: 0 20px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-principal {
  margin: 0 auto;
  display: flex;
 }
 
#modal,
#modal-cadastro {
  background: white;
  font-family: arial;
  border-radius: 5px;
  margin: auto;
  padding-top: 10px;
  width: 300px;
  z-index: 9;
  position: relative;
}

.logo-login {
  padding: 50px;
  margin: 0;
}
.boxTexto {
  border-radius: 15px;
  border-width: 1px;
  border-color: #7E459A;
  margin: 10px;
  padding-left: 10px;
  height: 30px;
}
.boxEmail {
  border-radius: 15px;
  border-width: 1px;
  border-color: #7E459A;
  margin: 0px 10px 30px 10px;
  padding-left: 10px;
  height: 30px;
}

.botao-login {
  background-color: #ff6a36;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  margin-left: 42px;
  margin-top: 10px;
  padding: 8px 30px 8px 30px;
}
#botaoFechar,
#botaoFechar-cadastro {
  opacity: 0.4;
  position: absolute;
  top: 5%;
  right: 5%;
}
#botaoFechar img,
#botaoFechar-cadastro img {
  width: 30px;
}
#fundo,
#fundo-cadastro {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
#fundo.visivel,
#fundo-cadastro.visivel {
  display: flex;
}

/* Formulario de Login */
.formulario {
  padding: 46px;
  padding-top: 10px;
  margin: auto;
  display: block;
}

/* Tabela - Listar Tasks */
#tasks {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#tasks td,
#tasks th {
  border: 1px solid #444;
  padding: 8px;
}
#tasks tr:nth-child(even) {
  background-color: #ae74e4;
}
#tasks tr:hover {
  background-color: #444;
}
#tasks th {
  /* background-color: #874caf; */
  background-color: #ccc;
  color: #686975;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
/* Lista de Funcionalidades da Aplicação */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  font-size: 20px;
  border: 2px;
  padding: 6px;
}
li:last-child {
  border: none;
}

li button:hover {
  background: #e7daec;
  color: #ff6a36;
  box-shadow: 1px 1px 5px 0px #444;
  cursor: pointer;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}

/* Forms */
#task fieldset{
  border: 1px solid #fff;
}
#task fieldset button{
  font-size: 12px;
  font-weight: 700;
  background: #e7daec;
  color: #ff6a36;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0px #444;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}
#task fieldset button:hover{
  background: white;
  color: #ff6a36;
  box-shadow: 1px 1px 5px 0px #444;
  cursor: pointer;
  transition: background .3s cubic-bezier(0.19, 1, 0.22, 1), color .5s ease-out;
}
